<div>
  <div>
    <% if (locals.errors) { %>
    <div class="alert alert-danger">
      <ul>
        <% locals.errors.forEach( function (error) { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
    <% } else if (locals.successMessage) { %>
    <div class="alert alert-danger">
      <%= locals.successMessage %>
    </div>
    <br />
  </div>
  <% } %>

  <form method="POST" action="/newcourse">
    <label for="newcourse_title">Course Title</label>
    <input
      type="text"
      id="newcourse_title"
      name="course_title"
      placeholder="New Course title"
    />
    <br />

    <label for="newcourse_number">Course Number</label>
    <input
      type="text"
      id="newcourse_number"
      name="course_number"
      placeholder="New Course Number"
    />
    <br />
    <label for="newcourse_description">Course Description</label>
    <input
      type="text"
      id="newcourse_description"
      name="course_description"
      placeholder="New Course Description"
    />
    <br />
    <button type="submit">Submit</button>
  </form>
</div>
