<!DOCTYPE html>
<html>
  <head>
    <title>index.ejs <%= pageTitle %></title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <header>
    Header goes here.
    </header>

    <article class="speakerslist jumbotron d-none d-sm-block">
      <div class="container">
        <div class="row">
	A row
        </div>
      </div>
    </article>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

  </body>
</html>
