<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <header>
      Welcome to the Landing Page
    </header>

    <article class="speakerslist jumbotron d-none d-sm-block">
      <div class="container">
        <div>
          <a href="/login">Login</a>
        </div>
        <div>
          <a href="/signup">Signup</a>
        </div>
      </div>
    </article>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
